
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.myInput-card-wrapper{
    display: flex;
    flex-direction: column;
    width: 590px;
    height: 450px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 4px;
    padding:60px;
    gap: 30px;
}

.myInput-card-title{
   width: 471px; 
   height: 24px;
   font-family: Lato, sans-serif;
   font-weight: 400;
   font-size: 24px;
   color: rgba(0, 0, 0, 1);
}
.input-collective-container {
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 176px;
    gap: 15px;
}

.hurra-message {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: rgba(31, 39, 245, 1);
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
  }

